TPL/force-app/main/default/flows/Attached_Facility_to_Ambulance_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assigning_FacilityName</name>
        <label>Assigning FacilityName</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CurrentHealcareCost.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_through_HCC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentHealcareCost.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Facility_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HCC_Collection_for_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HCC_Collection_for_update</name>
        <label>HCC Collection for update</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CurrentHealthcareCostCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentHealcareCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_through_HCC</targetReference>
        </connector>
    </assignments>
    <description>This flow will attach facility to Ambulance record. 
The flow could be deactivated for data migration.</description>
    <environments>Default</environments>
    <interviewLabel>Attached Facility to Ambulance record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attached Facility to Ambulance record</label>
    <loops>
        <name>Look_through_HCC</name>
        <label>Look through HCC</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>updatedHealthcareCost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Facility_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Facility_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Facility_Record</name>
        <label>Get Facility Record</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_FacilityName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Look_through_HCC.Site_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Facility_Name</name>
        <label>Update Facility Name</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>CurrentHealthcareCostCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_through_HCC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentHealcareCost</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>CurrentHealthcareCostCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>updatedHealthcareCost</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
</Flow>
