TPL/force-app/main/default/flows/Changing_Individual_Last_Name_to_Upper_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Changing_Last_Name_to_Upper_Case</name>
        <label>Changing Last Name to Upper Case</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangingLastNametoUpperCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>This flow will change the last name on Individual account to upper case.</description>
    <environments>Default</environments>
    <formulas>
        <name>ChangingLastNametoUpperCase</name>
        <dataType>String</dataType>
        <expression>Upper({!Loop_Through_Account.LastName})</expression>
    </formulas>
    <interviewLabel>Changing Individual Last Name to Upper case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Changing Individual Last Name to Upper case</label>
    <loops>
        <name>Loop_Through_Account</name>
        <label>Loop Through Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>AccountCollectionIntake</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Changing_Last_Name_to_Upper_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Last_Name_to_Upper_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Last_Name_to_Upper_Case</name>
        <label>Update Last Name to Upper Case</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>AccountCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountCollectionIntake</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
