TPL/force-app/main/default/flows/Mandatory_Account_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignmentofConcatFields_0</name>
        <label>assignmentofConcatFields</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ProductFamilyRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTypeRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EffectiveYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Effective_year__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkProductFamily</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateProductNameFormula</name>
        <label>updateProductNameFormula</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>updatedProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductFamilyUpdateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateProductName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateProductNameFormula_0</name>
        <label>updateProductNameFormula</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>updatedProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductUpdateFormulaSpecific</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateProductName_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkProductFamily</name>
        <label>checkProductFamily</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>updateProductNameFormula_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductFamilyCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductFamilyRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProductNameFormula</targetReference>
            </connector>
            <label>ProductFamilyCheck</label>
        </rules>
    </decisions>
    <description>Updated the ProductFamilyUpdateFormula</description>
    <formulas>
        <name>ProductFamilyUpdateFormula</name>
        <dataType>String</dataType>
        <expression>{!ServiceTypeRecord} + &apos;-&apos;+ {!EffectiveYear}</expression>
    </formulas>
    <formulas>
        <name>ProductUpdateFormulaSpecific</name>
        <dataType>String</dataType>
        <expression>{!siteCode}+&apos;-&apos;+{!ServiceTypeRecord}+&apos;-&apos;+{!EffectiveYear}</expression>
    </formulas>
    <interviewLabel>Mandatory Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mandatory Account Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSiteCodeAccounts</name>
        <label>getSiteCodeAccounts</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignmentofConcatFields_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>siteCode</assignToReference>
            <field>Site_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateProductName</name>
        <label>updateProductName</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>updatedProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateProductName_0</name>
        <label>updateProductName</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>updatedProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSiteCodeAccounts</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EffectiveYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productFamily</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductFamilyRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTypeRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
