TPL/force-app/main/default/flows/New_MSP_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <name>CCILevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CCI_Level__c</picklistField>
        <picklistObject>Healthcare_Cost__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New MSP Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New MSP Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_MSP</name>
        <label>New MSP</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Paid__c</field>
            <value>
                <elementReference>Amount_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <elementReference>Cost_Include</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <elementReference>Cost_Review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Service__c</field>
            <value>
                <elementReference>Description_of_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Code__c</field>
            <value>
                <elementReference>Diagnostic_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Description__c</field>
            <value>
                <elementReference>Diagnostic_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility_Type__c</field>
            <value>
                <elementReference>Facility_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>FacilityLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee_Item_Code__c</field>
            <value>
                <elementReference>Fee_Item_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee_Item_Description__c</field>
            <value>
                <elementReference>Fee_Item_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee_Item_Title__c</field>
            <value>
                <elementReference>Fee_Item_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Import_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Type_Code__c</field>
            <value>
                <elementReference>Location_Type_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Type_Description__c</field>
            <value>
                <elementReference>Location_Type_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Description__c</field>
            <value>
                <elementReference>Payee_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Number__c</field>
            <value>
                <elementReference>Payee_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practitioner_Name__c</field>
            <value>
                <elementReference>Practitioner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practitioner_Number__c</field>
            <value>
                <elementReference>Practitioner_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0126s000000CtV6AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Finish_Date__c</field>
            <value>
                <elementReference>Service_Finish_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Start_Date__c</field>
            <value>
                <elementReference>Service_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty_Code__c</field>
            <value>
                <elementReference>Speciality_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty_Description__c</field>
            <value>
                <elementReference>Specialty_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_MSP_Record_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_MSP_Record_Screen</name>
        <label>New MSP Record Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_MSP</targetReference>
        </connector>
        <fields>
            <name>New_MSP_Record_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date Format: YYYY-MM-DD&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Include</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cost Include</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Review</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cost Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FacilityLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Facility_Type</name>
                    <dataType>String</dataType>
                    <fieldText>Facility Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Service</name>
                    <fieldText>Description of Service</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Item_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Fee Item Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Item_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Fee Item Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Item_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Fee Item Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Practitioner_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Practitioner Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Practitioner_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Practitioner Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Diagnostic Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Diagnostic Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount_Paid</name>
                    <dataType>Currency</dataType>
                    <fieldText>Amount Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Speciality_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Specialty Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Specialty_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Specialty Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payee_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Payee Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payee_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Payee Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Service Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Finish_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Service Finish Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Type_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Location Type Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Type_Description</name>
                    <fieldText>Location Type Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
