TPL/force-app/main/default/flows/New_MSP_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Cache_Values</name>
        <label>Assign Cache Values</label>
        <locationX>572</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DateofService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionofService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeItemCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Item_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeItemTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Item_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeItemDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee_Item_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PractitionerNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Practitioner_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PractitionerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Practitioner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiagnosticCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Diagnostic_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiagnosticDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiagnosticDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AmountPaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Paid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCostOverride</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Cost_Override</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SpecialtyCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Speciality_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SpecialtyDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specialty_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payee_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayeeDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceFinishDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Finish_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Type_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationTypeDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Type_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_MSP_Record_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Cache_Values</name>
        <label>Copy 1 of Assign Cache Values</label>
        <locationX>308</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DateofService</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionofService</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeItemCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeItemTitle</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FeeItemDescription</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PractitionerNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PractitionerName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiagnosticCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiagnosticDescription</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AmountPaid</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCostOverride</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SpecialtyCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SpecialtyDescription</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PayeeDescription</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceFinishDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationTypeCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationTypeDescription</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage1</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreFacility</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_MSP_Record_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Empty_Record_Check</name>
        <label>Empty Record Check</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>New_MSP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Empty Record</defaultConnectorLabel>
        <rules>
            <name>Empty_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_of_Service</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>StoreFacility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Description_of_Service</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fee_Item_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fee_Item_Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fee_Item_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Practitioner_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Practitioner_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diagnostic_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Diagnostic_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount_Paid</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Total_Cost_Override</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Speciality_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Specialty_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payee_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Payee_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Start_Date</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Service_Finish_Date</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Location_Type_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Location_Type_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_MSP_Record_Screen</targetReference>
            </connector>
            <label>Empty Record</label>
        </rules>
    </decisions>
    <description>This flow is used to create Manual HCC - MSP Record</description>
    <environments>Default</environments>
    <formulas>
        <name>ErrorMessageFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ErrorMessage}, &apos;This error occurred when the flow tried to create records: FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, &apos;Error: &apos;)</expression>
    </formulas>
    <formulas>
        <name>ErrorMessageFormula1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ErrorMessage1}, &quot;. You can look up ExceptionCode values in the &lt;a href=&apos;https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_calls_concepts_core_data_objects.htm#&apos;&gt;SOAP API Developer Guide&lt;/a&gt;.&quot;, &apos; &apos;)</expression>
    </formulas>
    <interviewLabel>New MSP Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New MSP Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_MSP</name>
        <label>New MSP</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Cache_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Cache_Values</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Paid__c</field>
            <value>
                <elementReference>Amount_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Service2__c</field>
            <value>
                <elementReference>Description_of_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Code__c</field>
            <value>
                <elementReference>Diagnostic_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Description__c</field>
            <value>
                <elementReference>Diagnostic_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>StoreFacility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee_Item_Code__c</field>
            <value>
                <elementReference>Fee_Item_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee_Item_Description__c</field>
            <value>
                <elementReference>Fee_Item_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fee_Item_Title__c</field>
            <value>
                <elementReference>Fee_Item_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Import_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Type_Code__c</field>
            <value>
                <elementReference>Location_Type_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Type_Description2__c</field>
            <value>
                <elementReference>Location_Type_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Description__c</field>
            <value>
                <elementReference>Payee_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payee_Number__c</field>
            <value>
                <elementReference>Payee_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practitioner_Name__c</field>
            <value>
                <elementReference>Practitioner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practitioner_Number__c</field>
            <value>
                <elementReference>Practitioner_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MSP_recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Finish_Date__c</field>
            <value>
                <elementReference>Service_Finish_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Start_Date__c</field>
            <value>
                <elementReference>Service_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty_Code__c</field>
            <value>
                <elementReference>Speciality_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialty_Description2__c</field>
            <value>
                <elementReference>Specialty_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MSP_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_Record_Type</name>
        <label>Get MSP Record Type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_MSP_Record_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Healthcare_Cost__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MSP_recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>New_MSP_Record_Screen</name>
        <label>New MSP Record Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Empty_Record_Check</targetReference>
        </connector>
        <fields>
            <name>New_MSP_Record_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DateofService</elementReference>
                    </defaultValue>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FacilityLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreFacility</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreFacility</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Service</name>
                    <defaultValue>
                        <stringValue>{!DescriptionofService}</stringValue>
                    </defaultValue>
                    <fieldText>Description of Service</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 255 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Description_of_Service} ) &lt; 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Item_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FeeItemCode</elementReference>
                    </defaultValue>
                    <fieldText>Fee Item Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 20 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Fee_Item_Code} ) &lt; 20</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Item_Title</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FeeItemTitle</elementReference>
                    </defaultValue>
                    <fieldText>Fee Item Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 80 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Fee_Item_Title} ) &lt; 80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fee_Item_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FeeItemDescription</elementReference>
                    </defaultValue>
                    <fieldText>Fee Item Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 255 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Fee_Item_Description} ) &lt; 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Practitioner_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PractitionerNumber</elementReference>
                    </defaultValue>
                    <fieldText>Practitioner Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 40 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Practitioner_Number} ) &lt; 40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Practitioner_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PractitionerName</elementReference>
                    </defaultValue>
                    <fieldText>Practitioner Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 40 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Practitioner_Name} ) &lt; 40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DiagnosticCode</elementReference>
                    </defaultValue>
                    <fieldText>Diagnostic Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 50 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Diagnostic_Code} ) &lt; 50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DiagnosticDescription</elementReference>
                    </defaultValue>
                    <fieldText>Diagnostic Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 255 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Diagnostic_Description} ) &lt; 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount_Paid</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>AmountPaid</elementReference>
                    </defaultValue>
                    <fieldText>Amount Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Not more than 14 digits with 2 decimals are allowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Amount_Paid} &gt; 0  &amp;&amp; {!Amount_Paid} &lt; 100000000000000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>TotalCostOverride</elementReference>
                    </defaultValue>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Not more than 14 digits with 2 decimals are allowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Total_Cost_Override} &gt; 0  &amp;&amp; {!Total_Cost_Override} &lt; 100000000000000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Speciality_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SpecialtyCode</elementReference>
                    </defaultValue>
                    <fieldText>Specialty Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 40 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Speciality_Code} ) &lt; 40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Specialty_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SpecialtyDescription</elementReference>
                    </defaultValue>
                    <fieldText>Specialty Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 50 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Specialty_Description} ) &lt; 50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payee_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PayeeNumber</elementReference>
                    </defaultValue>
                    <fieldText>Payee Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 40 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Payee_Number} ) &lt; 40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payee_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PayeeDescription</elementReference>
                    </defaultValue>
                    <fieldText>Payee Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 255 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Payee_Description} ) &lt; 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_MSP_Record_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_MSP_Record_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>ServiceStartDate</elementReference>
                    </defaultValue>
                    <fieldText>Service Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Finish_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>ServiceFinishDate</elementReference>
                    </defaultValue>
                    <fieldText>Service Finish Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Type_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LocationTypeCode</elementReference>
                    </defaultValue>
                    <fieldText>Location Type Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Location_Type_Code} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_MSP_Record_Screen_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_Type_Description</name>
                    <defaultValue>
                        <stringValue>{!LocationTypeDescription}</stringValue>
                    </defaultValue>
                    <fieldText>Location Type Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Location_Type_Description} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessageFormula1}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountPaid</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DateofService</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionofService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DiagnosticCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DiagnosticDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeItemCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeItemDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeeItemTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationTypeCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationTypeDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PayeeDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PayeeNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PractitionerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PractitionerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceFinishDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialtyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialtyDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreFacility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalCostOverride</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
