TPL/force-app/main/default/flows/New_Hospitalization_Record_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Validation_Checks</name>
        <label>Validation Checks</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>New_Hospitalization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_of_Admission_after_Deactivation_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_of_Admission</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Account_Records.Deactivation_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Records.Deactivation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Hospitalization_Record_DOA_ErrorScreen</targetReference>
            </connector>
            <label>Date of Admission after Deactivation Date</label>
        </rules>
        <rules>
            <name>When_specific_is_chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Records.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>StoreFacility</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreFacility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Records.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specific</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Hospitalization_Record_Facility_Error_Screen</targetReference>
            </connector>
            <label>When specific is chosen</label>
        </rules>
        <rules>
            <name>When_both_are_wrong</name>
            <conditionLogic>(1 AND 2) AND (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Date_of_Admission</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Account_Records.Deactivation_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Records.Deactivation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Records.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>StoreFacility</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreFacility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Records.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specific</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Hospitalization_Record_Both_Error_Screen</targetReference>
            </connector>
            <label>When both are wrong</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Checks_DOA</name>
        <label>Validation Checks</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>New_Hospitalization_from_DOA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_of_Admission_after_Deactivation_Date_DOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_of_Admission</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Account_Records_DOA.Deactivation_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Records_DOA.Deactivation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Hospitalization_Record_DOA_ErrorScreen</targetReference>
            </connector>
            <label>Date of Admission after Deactivation Date</label>
        </rules>
        <rules>
            <name>When_specific_is_chosen_DOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Records_DOA.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>StoreFacility_DOA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreFacility_DOA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Records_DOA.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specific</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Hospitalization_Record_DOAF_Error_Screen</targetReference>
            </connector>
            <label>When specific is chosen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Checks_F</name>
        <label>Validation Checks</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>New_Hospitalization_from_Facility_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_of_Admission_after_Deactivation_Date_F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_of_Admission</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Account_Records_F.Deactivation_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Records_F.Deactivation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Hospitalization_Record_FDOA_Error_Screen</targetReference>
            </connector>
            <label>Date of Admission after Deactivation Date</label>
        </rules>
        <rules>
            <name>When_specific_is_chosen_F</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreFacility_F</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Records_F.Account__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>StoreFacility_F</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Records_F.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specific</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Hospitalization_Record_Facility_Error_Screen</targetReference>
            </connector>
            <label>When specific is chosen</label>
        </rules>
    </decisions>
    <description>This flow is used to create Manual HCC - Hospitalization Record</description>
    <dynamicChoiceSets>
        <name>CCILevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CCI_Level__c</picklistField>
        <picklistObject>Healthcare_Cost__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>RetrieveDeactivationDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Account_Records.Deactivation_Date__c}</expression>
    </formulas>
    <interviewLabel>New Ambulance Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Hospitalization Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Hospitalization</name>
        <label>New Hospitalization</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Populate_Intervention_Code_and_CCI_Level</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <elementReference>Cost_Include</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <elementReference>Cost_Review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Admission__c</field>
            <value>
                <elementReference>Date_of_Admission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Discharge__c</field>
            <value>
                <elementReference>Date_of_Discharge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Incident__c</field>
            <value>
                <elementReference>Description_of_Incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Treatment_Service2__c</field>
            <value>
                <elementReference>Diagnostic_Treatment_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>StoreFacility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Incident__c</field>
            <value>
                <elementReference>Location_of_Incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Au000000Bi11IAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Provided_by_Facility__c</field>
            <value>
                <elementReference>StoreServiceProvidedbyFacility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Hospitalization_from_Both</name>
        <label>New Hospitalization from Both</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Populate_Intervention_Code_and_CCI_Level_Both</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <elementReference>Cost_Include</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <elementReference>Cost_Review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Admission__c</field>
            <value>
                <elementReference>Date_of_Admission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Discharge__c</field>
            <value>
                <elementReference>Date_of_Discharge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Incident__c</field>
            <value>
                <elementReference>Description_of_Incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Treatment_Service2__c</field>
            <value>
                <elementReference>Diagnostic_Treatment_Service_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>StoreFacility_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Incident__c</field>
            <value>
                <elementReference>Location_of_Incident</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Au000000Bi11IAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Provided_by_Facility__c</field>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_B</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Hospitalization_from_DOA</name>
        <label>New Hospitalization from DOA</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Populate_Intervention_Code_and_CCI_Level_DOA</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <elementReference>Cost_Include_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <elementReference>Cost_Review_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Admission__c</field>
            <value>
                <elementReference>Date_of_Admission_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Discharge__c</field>
            <value>
                <elementReference>Date_of_Admission_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Incident__c</field>
            <value>
                <elementReference>Description_of_Incident_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Treatment_Service2__c</field>
            <value>
                <elementReference>Diagnostic_Treatment_Service_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>StoreFacility_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Incident__c</field>
            <value>
                <elementReference>Location_of_Incident_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Au000000Bi11IAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Provided_by_Facility__c</field>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override_DOA</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Hospitalization_from_DOAF</name>
        <label>New Hospitalization from DOA</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Populate_Intervention_Code_and_CCI_Level_DOAF</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <elementReference>Cost_Include_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <elementReference>Cost_Review_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Admission__c</field>
            <value>
                <elementReference>Date_of_Admission_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Discharge__c</field>
            <value>
                <elementReference>Date_of_Discharge_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Incident__c</field>
            <value>
                <elementReference>Description_of_Incident_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Treatment_Service2__c</field>
            <value>
                <elementReference>Diagnostic_Treatment_Service_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>StoreFacility_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Incident__c</field>
            <value>
                <elementReference>Location_of_Incident_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Au000000Bi11IAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Provided_by_Facility__c</field>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override_DOAF</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Hospitalization_from_Facility_Error_Screen</name>
        <label>New Hospitalization from Facility Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Populate_Intervention_Code_and_CCI_Level_F</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <elementReference>Cost_Include_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <elementReference>Cost_Review_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Admission__c</field>
            <value>
                <elementReference>Date_of_Admission_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Discharge__c</field>
            <value>
                <elementReference>Date_of_Discharge_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Incident__c</field>
            <value>
                <elementReference>Description_of_Incident_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Treatment_Service2__c</field>
            <value>
                <elementReference>Diagnostic_Treatment_Service_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>StoreFacility_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Incident__c</field>
            <value>
                <elementReference>Location_of_Incident_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Au000000Bi11IAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Provided_by_Facility__c</field>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override_F</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Hospitalization_from_FDOA_Error_Screen</name>
        <label>New Hospitalization from FDOA Error Screen</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Populate_Intervention_Code_and_CCI_Level_FDOA</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <elementReference>Cost_Include_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <elementReference>Cost_Review_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Admission__c</field>
            <value>
                <elementReference>Date_of_Admission_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Discharge__c</field>
            <value>
                <elementReference>Discharge_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Incident__c</field>
            <value>
                <elementReference>Description_of_Incident_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnostic_Treatment_Service2__c</field>
            <value>
                <elementReference>Diagnostic_Treatment_Service_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facility__c</field>
            <value>
                <elementReference>StoreFacility_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Incident__c</field>
            <value>
                <elementReference>Location_of_Incident_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Au000000Bi11IAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Provided_by_Facility__c</field>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_FDOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override_FDOA</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Checks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreFacility</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Records_DOA</name>
        <label>Get Account Records DOA</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Records_DOA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreFacility_DOA</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Au000000Bi0vIAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Records_F</name>
        <label>Get Account Records F</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Records_F</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreFacility_F</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Au000000Bi0vIAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Hospitalization_Record_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Records</name>
        <label>Get Product Records</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreServiceProvidedbyFacility</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Records_DOA</name>
        <label>Get Product Records</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Checks_DOA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_DOA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Records_F</name>
        <label>Get Product Records F</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation_Checks_F</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_F</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Hospitalization_Record_Both_Error_Screen</name>
        <label>New Hospitalization Record Both Error Screen</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Hospitalization_from_Both</targetReference>
        </connector>
        <fields>
            <name>New_Hospitalization_Record_Both_Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Include_B</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Include</elementReference>
                    </defaultValue>
                    <fieldText>Cost Include</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Review_B</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Review</elementReference>
                    </defaultValue>
                    <fieldText>Cost Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service_B</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Service</elementReference>
                    </defaultValue>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date Format: YYYY-MM-DD&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_of_Incident_B</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Location_of_Incident</elementReference>
                    </defaultValue>
                    <fieldText>Location of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 50 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Location_of_Incident_B} ) &lt; 50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_Both_Error_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Incident_B</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Description_of_Incident</elementReference>
                    </defaultValue>
                    <fieldText>Description of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Description_of_Incident_B} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Admission_B</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Admission</elementReference>
                    </defaultValue>
                    <fieldText>Date of Admission</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date of Admission must be before the Deactivation Date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Admission} &gt; {!RetrieveDeactivationDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Copy_2_of_DOA_ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Date of Admission must be before the Deactivation Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Discharge_B</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Discharge</elementReference>
                    </defaultValue>
                    <fieldText>Date of Discharge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Date of discharge should always be greater than Date of Admission&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Discharge_DOA} &gt;= {!Date_of_Admission_DOA}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Facility_B</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreFacility</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreFacility_B</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_2_of_Facility1_ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please select valid Facility. Date of Admission must be before the Deactivation Date &amp;amp; Facility on Product must be equal to the Facility on Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_Both_Error_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Provided_by_Facility_B</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Provided_by_Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Provided by Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreServiceProvidedbyFacility</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreServiceProvidedbyFacility_B</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override_B</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Total_Cost_Override</elementReference>
                    </defaultValue>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Maximum field limit is Integers 14, Decimals 2 &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Ex: 12345678901234.12]&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Treatment_Service_B</name>
                    <defaultValue>
                        <stringValue>{!Diagnostic_Treatment_Service}</stringValue>
                    </defaultValue>
                    <fieldText>Diagnostic Treatment Service</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Diagnostic_Treatment_Service_B} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Both_Error_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Hospitalization_Record_DOA_ErrorScreen</name>
        <label>New Hospitalization Record DOA Error Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Records_DOA</targetReference>
        </connector>
        <fields>
            <name>New_Hospitalization_Record_DOA_ErrorScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Include_DOA</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Include</elementReference>
                    </defaultValue>
                    <fieldText>Cost Include</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Review_DOA</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Review</elementReference>
                    </defaultValue>
                    <fieldText>Cost Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service_DOA</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Service</elementReference>
                    </defaultValue>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date Format: YYYY-MM-DD&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_of_Incident_DOA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Location_of_Incident</elementReference>
                    </defaultValue>
                    <fieldText>Location of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 50 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Location_of_Incident_DOA} ) &lt; 50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_DOA_ErrorScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Incident_DOA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Description_of_Incident</elementReference>
                    </defaultValue>
                    <fieldText>Description of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Description_of_Incident_DOA} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Admission_DOA</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Admission</elementReference>
                    </defaultValue>
                    <fieldText>Date of Admission</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date of Admission must be before the Deactivation Date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Admission} &gt; {!RetrieveDeactivationDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>DOA_ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Date of Admission must be before the Deactivation Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Discharge_DOA</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Discharge</elementReference>
                    </defaultValue>
                    <fieldText>Date of Discharge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Date of discharge should always be greater than Date of Admission&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Discharge_DOA} &gt;= {!Date_of_Admission_DOA}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Facility_Lookup_DOA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreFacility</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreFacility_DOA</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Facility1_ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please select valid Facility. Date of Admission must be before the Deactivation Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_DOA_ErrorScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Provided_by_Facility_DOA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Provided_by_Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Provided by Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreServiceProvidedbyFacility</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreServiceProvidedbyFacility_DOA</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override_DOA</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Total_Cost_Override</elementReference>
                    </defaultValue>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Maximum field limit is Integers 14, Decimals 2 &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Ex: 12345678901234.12]&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Treatment_Service_DOA</name>
                    <defaultValue>
                        <stringValue>{!Diagnostic_Treatment_Service}</stringValue>
                    </defaultValue>
                    <fieldText>Diagnostic Treatment Service</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Diagnostic_Treatment_Service_DOA} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOA_ErrorScreen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Hospitalization_Record_DOAF_Error_Screen</name>
        <label>New Hospitalization Record DOAF Error Screen</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Hospitalization_from_DOAF</targetReference>
        </connector>
        <fields>
            <name>New_Hospitalization_Record_DOAF_Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Include_DOAF</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Include_DOA</elementReference>
                    </defaultValue>
                    <fieldText>Cost Include</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Review_DOAF</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Review_DOA</elementReference>
                    </defaultValue>
                    <fieldText>Cost Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service_DOAF</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Service_DOA</elementReference>
                    </defaultValue>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date Format: YYYY-MM-DD&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_of_Incident_DOAF</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Location_of_Incident_DOA</elementReference>
                    </defaultValue>
                    <fieldText>Location of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 50 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Location_of_Incident_DOAF} ) &lt; 50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_DOAF_Error_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Incident_DOAF</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Description_of_Incident_DOA</elementReference>
                    </defaultValue>
                    <fieldText>Description of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Description_of_Incident_DOAF} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Admission_DOAF</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Admission_DOA</elementReference>
                    </defaultValue>
                    <fieldText>Date of Admission</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date of Admission must be before the Deactivation Date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Admission} &gt; {!RetrieveDeactivationDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Discharge_DOAF</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Discharge_DOA</elementReference>
                    </defaultValue>
                    <fieldText>Date of Discharge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Date of discharge should always be greater than Date of Admission&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Discharge_DOA} &gt;= {!Date_of_Admission_DOA}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Facility_DOAF</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreFacility_DOA</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreFacility_DOAF</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Facility_ErrorMessage_DOAF</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Facility on Product must be equal to the Facility on Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_DOAF_Error_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Provided_by_Facility_DOAF</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Provided_by_Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Provided by Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreServiceProvidedbyFacility_DOA</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreServiceProvidedbyFacility_DOAF</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override_DOAF</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Total_Cost_Override_DOA</elementReference>
                    </defaultValue>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Maximum field limit is Integers 14, Decimals 2 &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Ex: 12345678901234.12]&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Treatment_Service_DOAF</name>
                    <defaultValue>
                        <stringValue>{!Diagnostic_Treatment_Service_DOA}</stringValue>
                    </defaultValue>
                    <fieldText>Diagnostic Treatment Service</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Diagnostic_Treatment_Service_DOAF} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_DOAF_Error_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Hospitalization_Record_Facility_Error_Screen</name>
        <label>New Hospitalization Record Facility Error Screen</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Records_F</targetReference>
        </connector>
        <fields>
            <name>New_Hospitalization_Record_Facility_Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Include_F</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Include</elementReference>
                    </defaultValue>
                    <fieldText>Cost Include</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Review_F</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Review</elementReference>
                    </defaultValue>
                    <fieldText>Cost Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service_F</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Service</elementReference>
                    </defaultValue>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date Format: YYYY-MM-DD&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_of_Incident_F</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Location_of_Incident</elementReference>
                    </defaultValue>
                    <fieldText>Location of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 50 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Location_of_Incident_F} ) &lt; 50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_Facility_Error_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Incident_F</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Description_of_Incident</elementReference>
                    </defaultValue>
                    <fieldText>Description of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Description_of_Incident_F} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Admission_F</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Admission</elementReference>
                    </defaultValue>
                    <fieldText>Date of Admission</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Discharge_F</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Discharge</elementReference>
                    </defaultValue>
                    <fieldText>Date of Discharge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Facility_F</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreFacility</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreFacility_F</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Facility_ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Facility on Product must be equal to the Facility on Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_Facility_Error_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Provided_by_Facility_F</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Provided_by_Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Provided by Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreServiceProvidedbyFacility</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreServiceProvidedbyFacility_F</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override_F</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Total_Cost_Override</elementReference>
                    </defaultValue>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Maximum field limit is Integers 14, Decimals 2 &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Ex: 12345678901234.12]&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Treatment_Service_F</name>
                    <defaultValue>
                        <stringValue>{!Diagnostic_Treatment_Service}</stringValue>
                    </defaultValue>
                    <fieldText>Diagnostic Treatment Service</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Diagnostic_Treatment_Service_F} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Facility_Error_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Hospitalization_Record_FDOA_Error_Screen</name>
        <label>New Hospitalization Record FDOA Error Screen</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Hospitalization_from_FDOA_Error_Screen</targetReference>
        </connector>
        <fields>
            <name>New_Hospitalization_Record_FDOA_Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Include_FDOA</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Include</elementReference>
                    </defaultValue>
                    <fieldText>Cost Include</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Review_FDOA</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Cost_Review</elementReference>
                    </defaultValue>
                    <fieldText>Cost Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service_FDOA</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Service</elementReference>
                    </defaultValue>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date Format: YYYY-MM-DD&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_of_Incident_FDOA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Location_of_Incident</elementReference>
                    </defaultValue>
                    <fieldText>Location of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 50 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Location_of_Incident_FDOA} ) &lt; 50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_FDOA_Error_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Incident_FDOA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Description_of_Incident</elementReference>
                    </defaultValue>
                    <fieldText>Description of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Description_of_Incident_FDOA} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Admission_FDOA</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Admission</elementReference>
                    </defaultValue>
                    <fieldText>Date of Admission</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date of Admission must be before the Deactivation Date.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Admission} &gt; {!RetrieveDeactivationDate}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Copy_1_of_DOA_ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Date of Admission must be before the Deactivation Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discharge_FDOA</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_of_Discharge</elementReference>
                    </defaultValue>
                    <fieldText>Date of Discharge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Date of discharge should always be greater than Date of Admission&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Discharge_DOA} &gt;= {!Date_of_Admission_DOA}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Facility_FDOA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreFacility_F</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreFacility_FDOA</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Copy_1_of_Facility1_ErrorMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please select valid Facility. Date of Admission must be before the Deactivation Date.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_FDOA_Error_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Provided_by_Facility_FDOA</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Provided by Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Provided_by_Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>StoreServiceProvidedbyFacility_F</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreServiceProvidedbyFacility_FDOA</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override_FDOA</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Total_Cost_Override</elementReference>
                    </defaultValue>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Maximum field limit is Integers 14, Decimals 2 &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Ex: 12345678901234.12]&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Treatment_Service_FDOA</name>
                    <defaultValue>
                        <stringValue>{!Diagnostic_Treatment_Service_F}</stringValue>
                    </defaultValue>
                    <fieldText>Diagnostic Treatment Service</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Diagnostic_Treatment_Service_FDOA} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_FDOA_Error_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Hospitalization_Record_Screen</name>
        <label>New Hospitalization Record Screen</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Product_Records</targetReference>
        </connector>
        <fields>
            <name>New_Hospitalization_Record_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Include</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cost Include</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Review</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cost Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Date Format: YYYY-MM-DD&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location_of_Incident</name>
                    <dataType>String</dataType>
                    <fieldText>Location of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 50 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Location_of_Incident} ) &lt; 50</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_of_Incident</name>
                    <dataType>String</dataType>
                    <fieldText>Description of Incident</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Description_of_Incident} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Admission</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Admission</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Discharge</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Discharge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Date of discharge should always be greater than Date of Admission&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_of_Discharge} &gt;= {!Date_of_Admission}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Facility</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreFacility</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Hospitalization_Record_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Provided_by_Facility</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Healthcare_Cost__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Provided by Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Service_Provided_by_Facility__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>StoreServiceProvidedbyFacility</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Maximum field limit is Integers 14, Decimals 2 &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;[Ex: 12345678901234.12]&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Diagnostic_Treatment_Service</name>
                    <fieldText>Diagnostic Treatment Service</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 100 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Diagnostic_Treatment_Service} ) &lt; 100</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Hospitalization_Record_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Populate_Intervention_Code_and_CCI_Level</name>
        <label>Populate Intervention Code and CCI Level</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <flowName>Populate_Intervention_code_CCI_Level_for_Hospitalization_Records</flowName>
        <inputAssignments>
            <name>HCCrecordId</name>
            <value>
                <elementReference>New_Hospitalization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productrecordId</name>
            <value>
                <elementReference>StoreServiceProvidedbyFacility</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Populate_Intervention_Code_and_CCI_Level_Both</name>
        <label>Populate Intervention Code and CCI Level Both</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <flowName>Populate_Intervention_code_CCI_Level_for_Hospitalization_Records</flowName>
        <inputAssignments>
            <name>HCCrecordId</name>
            <value>
                <elementReference>New_Hospitalization_from_Both</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productrecordId</name>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_B</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Populate_Intervention_Code_and_CCI_Level_DOA</name>
        <label>Populate Intervention Code and CCI Level DOA</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <flowName>Populate_Intervention_code_CCI_Level_for_Hospitalization_Records</flowName>
        <inputAssignments>
            <name>HCCrecordId</name>
            <value>
                <elementReference>New_Hospitalization_from_DOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productrecordId</name>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_DOA</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Populate_Intervention_Code_and_CCI_Level_DOAF</name>
        <label>Populate Intervention Code and CCI Level DOAF</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <flowName>Populate_Intervention_code_CCI_Level_for_Hospitalization_Records</flowName>
        <inputAssignments>
            <name>HCCrecordId</name>
            <value>
                <elementReference>New_Hospitalization_from_DOAF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productrecordId</name>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_DOAF</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Populate_Intervention_Code_and_CCI_Level_F</name>
        <label>Populate Intervention Code and CCI Level F</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <flowName>Populate_Intervention_code_CCI_Level_for_Hospitalization_Records</flowName>
        <inputAssignments>
            <name>HCCrecordId</name>
            <value>
                <elementReference>New_Hospitalization_from_Facility_Error_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productrecordId</name>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_F</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Populate_Intervention_Code_and_CCI_Level_FDOA</name>
        <label>Populate Intervention Code and CCI Level FDOA</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <flowName>Populate_Intervention_code_CCI_Level_for_Hospitalization_Records</flowName>
        <inputAssignments>
            <name>HCCrecordId</name>
            <value>
                <elementReference>New_Hospitalization_from_FDOA_Error_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productrecordId</name>
            <value>
                <elementReference>StoreServiceProvidedbyFacility_FDOA</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreFacility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreFacility_B</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreFacility_DOA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreFacility_DOAF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreFacility_F</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreFacility_FDOA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreServiceProvidedbyFacility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreServiceProvidedbyFacility_B</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreServiceProvidedbyFacility_DOA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreServiceProvidedbyFacility_DOAF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreServiceProvidedbyFacility_F</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreServiceProvidedbyFacility_FDOA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
