TPL/force-app/main/default/flows/New_Pharmacare_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Cache_Values</name>
        <label>Assign Cache Values</label>
        <locationX>572</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DateofService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PractitionerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Practitioner_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DINVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameofDrug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name_of_Drug</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CostofDrug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_of_Drug</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCostOverride</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Cost_Override</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Pharmacare_Record_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Cache_Values</name>
        <label>Copy 1 of Assign Cache Values</label>
        <locationX>308</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DateofService</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PractitionerName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DINVariable</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NameofDrug</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CostofDrug</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCostOverride</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage1</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Pharmacare_Record_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Empty_Record_Check</name>
        <label>Empty Record Check</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>New_Pharmacare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Empty Record</defaultConnectorLabel>
        <rules>
            <name>Empty_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_of_Service</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Practitioner_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DIN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Name_of_Drug</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cost_of_Drug</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Total_Cost_Override</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Pharmacare_Record_Screen</targetReference>
            </connector>
            <label>Empty Record</label>
        </rules>
    </decisions>
    <description>This flow is used to create Manual HCC - Pharmacare Record</description>
    <dynamicChoiceSets>
        <name>CCILevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CCI_Level__c</picklistField>
        <picklistObject>Healthcare_Cost__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ErrorMessageFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ErrorMessage}, &apos;This error occurred when the flow tried to create records: FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, &apos;Error: &apos;)</expression>
    </formulas>
    <formulas>
        <name>ErrorMessageFormula1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ErrorMessage1}, &quot;. You can look up ExceptionCode values in the &lt;a href=&apos;https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/sforce_api_calls_concepts_core_data_objects.htm#&apos;&gt;SOAP API Developer Guide&lt;/a&gt;.&quot;, &apos; &apos;)</expression>
    </formulas>
    <interviewLabel>New Pharmacare Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Pharmacare Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Pharmacare</name>
        <label>New Pharmacare</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Cache_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Cache_Values</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case2__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Include__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_of_Drug__c</field>
            <value>
                <elementReference>Cost_of_Drug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DIN__c</field>
            <value>
                <elementReference>DIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Import_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Drug__c</field>
            <value>
                <elementReference>Name_of_Drug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PHN__c</field>
            <value>
                <elementReference>Get_Case_Record.Account.PHN__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practitioner_Name__c</field>
            <value>
                <elementReference>Practitioner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Pharmacare_recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Cost_Override__c</field>
            <value>
                <elementReference>Total_Cost_Override</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pharmacare_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pharmacare_Record_Type</name>
        <label>Get Pharmacare Record Type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Pharmacare_Record_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Healthcare_Cost__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pharmacare</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Pharmacare_recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>New_Pharmacare_Record_Screen</name>
        <label>New Pharmacare Record Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Empty_Record_Check</targetReference>
        </connector>
        <fields>
            <name>New_Pharmacare_Record_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Pharmacare_Record_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Service</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DateofService</elementReference>
                    </defaultValue>
                    <fieldText>Date of Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Pharmacare_Record_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Practitioner_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PractitionerName</elementReference>
                    </defaultValue>
                    <fieldText>Practitioner Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 40 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Practitioner_Name} ) &lt; 40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Pharmacare_Record_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DIN</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DINVariable</elementReference>
                    </defaultValue>
                    <fieldText>DIN</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Not more than 80 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!DIN} ) &lt; 80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Pharmacare_Record_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_of_Drug</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NameofDrug</elementReference>
                    </defaultValue>
                    <fieldText>Name of Drug</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Not more than 80 Characters are allowed.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN ( {!Name_of_Drug} ) &lt; 80</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Pharmacare_Record_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Pharmacare_Record_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_of_Drug</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>CostofDrug</elementReference>
                    </defaultValue>
                    <fieldText>Cost of Drug</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Not more than 14 digits with 2 decimals are allowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Cost_of_Drug} &gt; 0  &amp;&amp; {!Cost_of_Drug} &lt; 100000000000000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Pharmacare_Record_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Cost_Override</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>TotalCostOverride</elementReference>
                    </defaultValue>
                    <fieldText>Total Cost Override</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Not more than 14 digits with 2 decimals are allowed.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Total_Cost_Override} &gt; 0  &amp;&amp; {!Total_Cost_Override} &lt; 100000000000000</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Pharmacare_Record_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Pharmacare_Record_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessageFormula1}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CostofDrug</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DateofService</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DINVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameofDrug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pharmacare_recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PractitionerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalCostOverride</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
