TPL/force-app/main/default/flows/Parent_Flow_For_Case_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignToCollection</name>
        <label>assignToCollection</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>caseCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordsOfCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>case_relation_with_entitlement_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToCollection_0</name>
        <label>assignToCollection</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>caseCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordsOfCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>case_relation_with_entitlement_process_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_the_create_and_update</name>
        <label>Check for the create and update</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkForCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordsOfCase</targetReference>
            </connector>
            <label>checkForCreate</label>
        </rules>
        <rules>
            <name>checkForUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordsOfCase_0</targetReference>
            </connector>
            <label>checkForUpdate</label>
        </rules>
    </decisions>
    <interviewLabel>Parent Flow For Health Care Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parent Flow For Case Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecordsOfCase</name>
        <label>getRecordsOfCase</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordsOfCase_0</name>
        <label>getRecordsOfCase</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToCollection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_the_create_and_update</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>case_relation_with_entitlement_process</name>
        <label>case relation with entitlement process</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <flowName>Relating_Case_with_the_Entitlement_Process</flowName>
        <inputAssignments>
            <name>collectionCaseIds</name>
            <value>
                <elementReference>caseCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>case_relation_with_entitlement_process_0</name>
        <label>case relation with entitlement process</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <flowName>Relating_Case_with_the_Entitlement_Process</flowName>
        <inputAssignments>
            <name>collectionCaseIds</name>
            <value>
                <elementReference>caseCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>caseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
