TPL/force-app/main/default/flows/Parent_Flow_For_Health_Care_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>healthCareCostToCollection</name>
        <label>healthCareCostToCollection</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>updatedHealthCareCost_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getCreatedHealthCareCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Health_Care_Cost_Fields_On_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updatedRecordAssignment</name>
        <label>updatedRecordAssignment</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>updatedHealthCareCost_col</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getUpdatedHealthCareCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Health_Care_Cost_Fields_On_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>All other record types</defaultConnectorLabel>
        <rules>
            <name>Ambulance_MSP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ambulance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Site_Code_and_Facility1</targetReference>
            </connector>
            <label>Ambulance &amp; MSP</label>
        </rules>
        <rules>
            <name>Hospitalization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitalization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Site_Code_Facility_Service_Type</targetReference>
            </connector>
            <label>Hospitalization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_1</name>
        <label>Check Record Type_1</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ambulance_MSP_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ambulance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Site_Code_and_Facility</targetReference>
            </connector>
            <label>Ambulance &amp; MSP 1</label>
        </rules>
        <rules>
            <name>Hospitalization1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitalization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Site_Code_Facility_Service_Type1</targetReference>
            </connector>
            <label>Hospitalization1</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDecisions</name>
        <label>checkDecisions</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkForCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCreatedHealthCareCost</targetReference>
            </connector>
            <label>checkForCreate</label>
        </rules>
        <rules>
            <name>checkForUpdateRecords</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUpdatedHealthCareCost</targetReference>
            </connector>
            <label>checkForUpdate</label>
        </rules>
    </decisions>
    <description>This flow is the handler flow for the which would call the sub flows based on the events made on Health Care Cost Object.</description>
    <environments>Default</environments>
    <interviewLabel>Parent Flow For Health Care Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parent Flow For Health Care Cost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Health Care Cost Record</description>
        <name>getCreatedHealthCareCost</name>
        <label>getCreatedHealthCareCost</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>healthCareCostToCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUpdatedHealthCareCost</name>
        <label>getUpdatedHealthCareCost</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updatedRecordAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkDecisions</targetReference>
        </connector>
        <object>Healthcare_Cost__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This flow will populate Site code and Facility Name</description>
        <name>Populate_Site_Code_and_Facility</name>
        <label>Populate Site Code and Facility</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <flowName>Populate_site_code_and_Facility_on_Ambulance_Record</flowName>
        <inputAssignments>
            <name>InputCorrectionVariable</name>
            <value>
                <elementReference>updatedHealthCareCost_col</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This flow will populate Site code and Facility Name</description>
        <name>Populate_Site_Code_and_Facility1</name>
        <label>Populate Site Code and Facility1</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <flowName>Populate_site_code_and_Facility_on_Ambulance_Record</flowName>
        <inputAssignments>
            <name>InputCorrectionVariable</name>
            <value>
                <elementReference>updatedHealthCareCost_col</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This flow will populate site code Facility and Service Type deepening on the conditions.</description>
        <name>Populate_Site_Code_Facility_Service_Type</name>
        <label>Populate Site Code Facility &amp; Service Type</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <flowName>Populate_Site_code_Facility_Service_Type_for_Hospitalization_Records</flowName>
        <inputAssignments>
            <name>InputCorrectionVariable</name>
            <value>
                <elementReference>updatedHealthCareCost_col</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This flow will populate site code Facility and Service Type deepening on the conditions.</description>
        <name>Populate_Site_Code_Facility_Service_Type1</name>
        <label>Populate Site Code Facility &amp; Service Type</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <flowName>Populate_Site_code_Facility_Service_Type_for_Hospitalization_Records</flowName>
        <inputAssignments>
            <name>InputCorrectionVariable</name>
            <value>
                <elementReference>updatedHealthCareCost_col</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This flow would be calling the On Create event made on the Health Care Cost Object.</description>
        <name>Update_Health_Care_Cost_Fields_On_Create</name>
        <label>Update Health Care Cost Fields On Create</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <flowName>Update_Health_Care_Cost_Fields_On_Create</flowName>
        <inputAssignments>
            <name>updatedHealthCareCost</name>
            <value>
                <elementReference>updatedHealthCareCost_col</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This flow would be called based on the update made on Health Care Cost Object.</description>
        <name>Update_Health_Care_Cost_Fields_On_Update</name>
        <label>Update Health Care Cost Fields On Update</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_Record_Type_1</targetReference>
        </connector>
        <flowName>Update_Health_Care_Cost_Fields_On_Update</flowName>
        <inputAssignments>
            <name>updatedHealthCareCost</name>
            <value>
                <elementReference>updatedHealthCareCost_col</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>updatedHealthCareCost_col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
</Flow>
