TPL/force-app/main/default/flows/Parent_Flow_For_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>New_Account_Collection</name>
        <label>New Account Collection</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NEW_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type_on_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Account_Collection</name>
        <label>Updated Account Collection</label>
        <locationX>1018</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type_on_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Create_and_Update</name>
        <label>Check for Create and Update</label>
        <locationX>886</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NEW_Account_Record</targetReference>
            </connector>
            <label>Check for Create</label>
        </rules>
        <rules>
            <name>Check_for_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Account_Record</targetReference>
            </connector>
            <label>Check for Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_on_Create</name>
        <label>Check Record Type on Create</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Facility_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Status_to_Active</targetReference>
            </connector>
            <label>Facility Account</label>
        </rules>
        <rules>
            <name>Individual_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changing_Last_Name_to_Upper_Case_on_Create</targetReference>
            </connector>
            <label>Individual Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_on_Update</name>
        <label>Check Record Type on Update</label>
        <locationX>1018</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Business Account</defaultConnectorLabel>
        <rules>
            <name>Facility_Account_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Facility_Deactivation_Date</targetReference>
            </connector>
            <label>Facility Account</label>
        </rules>
        <rules>
            <name>Individual_Account_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changing_Last_Name_to_Upper_Case_On_Update</targetReference>
            </connector>
            <label>Individual Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Parent Flow For Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parent Flow For Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NEW_Account_Record</name>
        <label>Get NEW Account Record</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Account_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Account_Record</name>
        <label>Get Updated Account Record</label>
        <locationX>1018</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updated_Account_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Create_and_Update</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Changing_Last_Name_to_Upper_Case_on_Create</name>
        <label>Changing Last Name to Upper Case on Create</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <flowName>Changing_Individual_Last_Name_to_Upper_case</flowName>
        <inputAssignments>
            <name>AccountCollectionIntake</name>
            <value>
                <elementReference>AccountCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Changing_Last_Name_to_Upper_Case_On_Update</name>
        <label>Changing Last Name to Upper Case On Update</label>
        <locationX>1018</locationX>
        <locationY>815</locationY>
        <flowName>Changing_Individual_Last_Name_to_Upper_case</flowName>
        <inputAssignments>
            <name>AccountCollectionIntake</name>
            <value>
                <elementReference>AccountCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Facility_Deactivation_Date</name>
        <label>Set Facility Deactivation Date</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <flowName>Set_Facility_Deactivation_Date</flowName>
        <inputAssignments>
            <name>AccountCollectionInTake</name>
            <value>
                <elementReference>AccountCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Update_Account_Status_to_Active</name>
        <label>Update Account Status to Active</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <flowName>Update_Account_Status_to_Active1</flowName>
        <inputAssignments>
            <name>AccountCollectionIntake</name>
            <value>
                <elementReference>AccountCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
