TPL/force-app/main/default/flows/Parent_Flow_For_Case_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignToCollection</name>
        <label>assignToCollection</label>
        <locationX>276</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>caseCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordsOfCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>case_relation_with_entitlement_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToCollection_0</name>
        <label>assignToCollection</label>
        <locationX>697</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>caseCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordsOfCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCaseCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getParentCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allChildCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAllChildCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>case_relation_with_entitlement_process_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_the_create_and_update</name>
        <label>Check for the create and update</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkForCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordsOfCase</targetReference>
            </connector>
            <label>checkForCreate</label>
        </rules>
        <rules>
            <name>checkForUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordsOfCase_0</targetReference>
            </connector>
            <label>checkForUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_if_Individual_Case</name>
        <label>Decide if Individual Case</label>
        <locationX>541</locationX>
        <locationY>925</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Individual_case</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ambulance_Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Ambulance_Total__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Continuing_Care_Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Continuing_Care_Total__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Future_Care_Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Future_Care_Total__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hospitalization_Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Hospitalization_Total__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSP_Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MSP_Total__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pharmacare_Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Pharmacare_Total__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recovery_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Recovery_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Summary_Calculation_of_related_HealthCare_Cost</targetReference>
            </connector>
            <label>Is Individual case</label>
        </rules>
    </decisions>
    <interviewLabel>Parent Flow For Health Care Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parent Flow For Case Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllChildCases</name>
        <label>getAllChildCases</label>
        <locationX>880</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToCollection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentCase</name>
        <label>getParentCase</label>
        <locationX>988</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllChildCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordsOfCase</name>
        <label>getRecordsOfCase</label>
        <locationX>276</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordsOfCase_0</name>
        <label>getRecordsOfCase</label>
        <locationX>807</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParentCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_for_the_create_and_update</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>case_relation_with_entitlement_process</name>
        <label>case relation with entitlement process</label>
        <locationX>276</locationX>
        <locationY>743</locationY>
        <flowName>Relating_Case_with_the_Entitlement_Process</flowName>
        <inputAssignments>
            <name>collectionCaseIds</name>
            <value>
                <elementReference>caseCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>case_relation_with_entitlement_process_0</name>
        <label>case relation with entitlement process</label>
        <locationX>551</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>Decide_if_Individual_Case</targetReference>
        </connector>
        <flowName>Relating_Case_with_the_Entitlement_Process</flowName>
        <inputAssignments>
            <name>collectionCaseIds</name>
            <value>
                <elementReference>caseCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Summary_Calculation_of_related_HealthCare_Cost</name>
        <label>Summary Calculation of related HealthCare Cost</label>
        <locationX>786</locationX>
        <locationY>872</locationY>
        <flowName>Summary_Calculation_of_related_HealthCare_Cost</flowName>
        <inputAssignments>
            <name>childCases</name>
            <value>
                <elementReference>allChildCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>grandParentCases</name>
            <value>
                <elementReference>parentCaseCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>parentCaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
