TPL/force-app/main/default/flows/Populate_Site_code_Facility_Service_Type_on_Hospitalization_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddCurrentHCCtoCollectionVariable</name>
        <label>AddCurrentHCCtoCollectionVariable</label>
        <locationX>396</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>CollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentHCCRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Facility</name>
        <label>Populate Facility</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_of_selected_Site_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCurrentHCCtoCollectionVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Site_Code_and_Service_Type</name>
        <label>Populate Site Code and Service Type</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Site_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_of_selected_Facility.Site_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Service_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCurrentHCCtoCollectionVariable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Site_Code_Facility</name>
        <label>Check for Site Code &amp; Facility</label>
        <locationX>396</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record_of_selected_Site_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_Code_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_collection.Site_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record_of_selected_Facility</targetReference>
            </connector>
            <label>Site Code is Null</label>
        </rules>
    </decisions>
    <description>This flow will populate site code from Facility or vise versa and Service Type from Selected Product.</description>
    <environments>Default</environments>
    <interviewLabel>Populate Site code/Facility &amp; Service Type on Hospitalization record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Site code/Facility &amp; Service Type on Hospitalization record</label>
    <loops>
        <name>Loop_through_collection</name>
        <label>Loop through collection</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>InputCorrectionVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Site_Code_Facility</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record_Site_Code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record_of_selected_Facility</name>
        <label>Get Account Record of selected Facility</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_collection.Facility__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record_of_selected_Site_Code</name>
        <label>Get Account Record of selected Site Code</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Facility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_collection.Site_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Site_Code_and_Service_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_collection.Service_Provided_by_Facility__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Site_Code</name>
        <label>Update Record - Site Code</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <inputReference>CollectionVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_collection</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>CurrentHCCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>InputCorrectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>InputHCCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
</Flow>
