TPL/force-app/main/default/flows/Populate_Intervention_code_CCI_Level_for_Hospitalization_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_HCC_Record.CCI_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Products.CCI_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_HCC_Record.Intervention_Code_CCI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Products.Intervention_Code_CCI__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intervention_Code_and_CCI_Level</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Manual_Records</name>
        <label>Check for Manual Records</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HCC_Record.Source_System_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products</targetReference>
            </connector>
            <label>Manual Record</label>
        </rules>
    </decisions>
    <description>This flow will populate Intervention code, CCI Level on Hospitalization Records when Service Type is Surgical Day Care (Daily)</description>
    <environments>Default</environments>
    <interviewLabel>Populate Intervention code, CCI Level for Hospitalization Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Intervention code, CCI Level for Hospitalization Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HCC_Record</name>
        <label>Get HCC Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Manual_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HCCrecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Healthcare_Cost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productrecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surgical Day Care (Daily)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Intervention_Code_and_CCI_Level</name>
        <label>Update Intervention Code and CCI Level</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HCC_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CCI_Level__c</field>
            <value>
                <elementReference>Get_Products.CCI_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intervention_Code_CCI__c</field>
            <value>
                <elementReference>Get_Products.Intervention_Code_CCI__c</elementReference>
            </value>
        </inputAssignments>
        <object>Healthcare_Cost__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HCC_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HCCrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
