TPL/force-app/main/default/flows/Populate_Site_code_Facility_Service_Type_for_Hospitalization_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddingCurrentHCCtoCollectionVariable</name>
        <label>AddingCurrentHCCtoCollectionVariable</label>
        <locationX>528</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentHCCRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Facility</name>
        <label>Populate Facility</label>
        <locationX>792</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Facilities_for_Integration_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Facilities_for_Integration_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Site_Code</name>
        <label>Populate Site Code</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Site_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Facility_for_manual_record.Site_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentHCCRecord.Service_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Products.Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Facility_for_manual_record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Facility_for_Integration_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Facility for Integration Records</label>
        <locationX>704</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Facility_for_Integration_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Facilities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Facility_for_Integration_Records.Site_Code__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_collection.Site_Code__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Facilities_for_Integration_Records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Facility_for_Manual_Record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Facility for Manual Record</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>currentItem_Facility_for_Manual_Record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Facilities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Facility_for_Manual_Record.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_collection.Facility__r.Name</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Facility_for_manual_record</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Record_creation_Source</name>
        <label>Check for Record creation Source</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Facility_for_Integration_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manual_Record_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_collection.Source_System_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Facility_for_Manual_Record</targetReference>
            </connector>
            <label>Manual Record Creation</label>
        </rules>
    </decisions>
    <description>This flow will populate site code from Facility or vise versa and Service Type from Selected Product.</description>
    <environments>Default</environments>
    <interviewLabel>Populate Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Site code, Facility &amp; Service Type for Hospitalization Records</label>
    <loops>
        <name>Loop_through_collection</name>
        <label>Loop through collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>InputCorrectionVariable</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Record_creation_Source</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record_Site_Code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Facilities_for_Integration_Records</name>
        <label>Loop through Facilities for Integration Records</label>
        <locationX>704</locationX>
        <locationY>638</locationY>
        <collectionReference>Facility_for_Integration_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Facility</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddingCurrentHCCtoCollectionVariable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Facility_for_manual_record</name>
        <label>Loop through Facility for manual record</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <collectionReference>Facility_for_Manual_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddingCurrentHCCtoCollectionVariable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Facilities</name>
        <label>Get Facilities</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Au000000Bi0vIAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Site_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_collection.Service_Provided_by_Facility__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Site_Code</name>
        <label>Update Record - Site Code</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <inputReference>CollectionVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Facilities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>CurrentHCCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Facility_for_Integration_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Facility_for_Manual_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>InputCorrectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
</Flow>
