TPL/force-app/main/default/flows/Product_Name_Creation_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignmentofConcatFields_0</name>
        <label>assignmentofConcatFields</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>ProductFamilyRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTypeRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EffectiveYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Effective_year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Intervention_Code_CCI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siteCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Site_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkProductFamily</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateProductNameFormula</name>
        <label>updateProductNameFormula</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>updatedProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generic_Product_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateProductName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateProductNameFormula1</name>
        <label>updateProductNameFormula1</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>updatedProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurgicalDay_Product_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateProductName1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateProductNameFormula_0</name>
        <label>updateProductNameFormula</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>updatedProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Specific_Product_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateProductName_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkProductFamily</name>
        <label>checkProductFamily</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>updateProductNameFormula_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Specific Product</defaultConnectorLabel>
        <rules>
            <name>Generic_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductFamilyRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceTypeRecord</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Surgical Day Care (Daily)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProductNameFormula</targetReference>
            </connector>
            <label>Generic Product</label>
        </rules>
        <rules>
            <name>SurgicalDay_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductFamilyRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceTypeRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgical Day Care (Daily)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProductNameFormula1</targetReference>
            </connector>
            <label>SurgicalDay Product</label>
        </rules>
    </decisions>
    <description>This flow will create a Product Name on New Product Creation and existing Product Update</description>
    <environments>Default</environments>
    <formulas>
        <name>Generic_Product_Name</name>
        <dataType>String</dataType>
        <expression>{!ServiceTypeRecord} + &apos;-&apos;+ {!EffectiveYear}</expression>
    </formulas>
    <formulas>
        <name>Specific_Product_name</name>
        <dataType>String</dataType>
        <expression>{!siteCode}+&apos;-&apos;+{!ServiceTypeRecord}+&apos;-&apos;+{!EffectiveYear}</expression>
    </formulas>
    <formulas>
        <name>SurgicalDay_Product_Name</name>
        <dataType>String</dataType>
        <expression>{!CCI}+&apos;-&apos;+ {!ServiceTypeRecord} + &apos;-&apos;+ {!EffectiveYear}</expression>
    </formulas>
    <interviewLabel>Product Name Creation and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Name Creation and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateProductName</name>
        <label>updateProductName</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>updatedProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateProductName1</name>
        <label>updateProductName1</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>updatedProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateProductName_0</name>
        <label>updateProductName</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>updatedProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignmentofConcatFields_0</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CCI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EffectiveYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productFamily</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductFamilyRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTypeRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>siteCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
