TPL/force-app/main/default/flows/Relating_Case_with_the_Entitlement_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>agecalculation</name>
        <label>agecalculation</label>
        <locationX>624</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>age</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateOfBirthCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ageTo19</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaForAgeCalculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkAge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEntitlementId</name>
        <label>AssignEntitlementId</label>
        <locationX>938</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>caseIdsingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignFromTheParentFlow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseIdsingle.Expected_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseIdsingle.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEntitlementRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Collection_for_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MilestonesCriteriaForMinors</name>
        <label>MilestonesCriteriaForMinors</label>
        <locationX>435</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>caseIdsingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignFromTheParentFlow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseIdsingle.Expected_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expectedMilestonesCriteria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseIdsingle.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEntitlementRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Collection_for_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Collection_for_update</name>
        <label>Record Collection for update</label>
        <locationX>401</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>ExpectedCloseDateUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseIdsingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignFromTheParentFlow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAge</name>
        <label>checkAge</label>
        <locationX>809</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>MilestonesCriteriaForMinors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkAgeCalculation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>age</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>19.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEntitlementId</targetReference>
            </connector>
            <label>checkAgeCalculation</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecordTypeOfCases</name>
        <label>checkRecordTypeOfCases</label>
        <locationX>571</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>assignFromTheParentFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkRecordTypeCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignFromTheParentFlow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>agecalculation</targetReference>
            </connector>
            <label>checkRecordTypeCase</label>
        </rules>
    </decisions>
    <description>Date of Birth field updated from Account to Contact level.</description>
    <environments>Default</environments>
    <formulas>
        <name>dateOfBirthCalculation</name>
        <dataType>Number</dataType>
        <expression>YEAR(Today())-YEAR({!assignFromTheParentFlow.Account.Date_of_Birth__pc})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>expectedCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!assignFromTheParentFlow.Incident_Date__c} + 793</expression>
    </formulas>
    <formulas>
        <name>expectedMilestonesCriteria</name>
        <dataType>Date</dataType>
        <expression>{!assignFromTheParentFlow.Account.Date_of_Birth__pc} + 7732</expression>
    </formulas>
    <formulas>
        <name>formulaForAgeCalculation</name>
        <dataType>Number</dataType>
        <expression>19-{!age}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Relating Case with the Entitlement Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relating Case with the Entitlement Process</label>
    <loops>
        <name>assignFromTheParentFlow</name>
        <label>assignFromTheParentFlow</label>
        <locationX>224</locationX>
        <locationY>233</locationY>
        <collectionReference>collectionCaseIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkRecordTypeOfCases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateExpectedClosedDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEntitlementRecords</name>
        <label>getEntitlementRecords</label>
        <locationX>303</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignFromTheParentFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Entitlement Process Milestones</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateExpectedClosedDate</name>
        <label>updateExpectedClosedDate</label>
        <locationX>114</locationX>
        <locationY>601</locationY>
        <inputReference>ExpectedCloseDateUpdate</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>615</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>getEntitlementRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>age</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ageTo19</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>allCaseIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseIdsingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>collectionCaseIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>entitlementCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>EntitlementCollectionId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>entitlementId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
    <variables>
        <name>entitlementIdcollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpectedCloseDateUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
