TPL/force-app/main/default/flows/Set_Facility_Deactivation_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>528</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Status_Value</name>
        <label>Assigning Status Value</label>
        <locationX>528</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Account.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAccount.Deactivation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Account.Deactivation_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Facility_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deactivation_Date</name>
        <label>Set Deactivation Date</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Deactivation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Deactivation_date_to_Blank</name>
        <label>Set Deactivation date to Blank</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CurrentAccount.Deactivation_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Facility_Status</name>
        <label>Check Facility Status</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facility_is_deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccount.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentAccount.Deactivation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deactivation_Date</targetReference>
            </connector>
            <label>Facility is deactivated</label>
        </rules>
        <rules>
            <name>Facility_is_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccount.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deactivation_date_to_Blank</targetReference>
            </connector>
            <label>Facility is Activated</label>
        </rules>
    </decisions>
    <interviewLabel>Set Facility Deactivation Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Facility Deactivation Date</label>
    <loops>
        <name>Loop_through_Account</name>
        <label>Loop through Account</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>AccountCollectionInTake</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Status_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_deactivation_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_deactivation_Date</name>
        <label>Assign deactivation Date</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <inputReference>AccountCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountCollectionInTake</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
