TPL/force-app/main/default/flows/Subscribe_a_PE_for_Product_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>isActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Status_New__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Status</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Subscribe a PE to Update P {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscribe a PE for Product Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Records</name>
        <label>Get Product Records</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>isActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Status</name>
        <label>Update Product Status</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>isActive</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Records</targetReference>
        </connector>
        <object>Update_Product_Status_on_Account_Status__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>isActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
