TPL/force-app/main/default/flows/Summary_Calculation_of_related_HealthCare_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Parent_Case_details</name>
        <label>assign Parent Case details</label>
        <locationX>314</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>parentCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Grandparent_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCase.MSP_Total_ClassAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mspTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCase.Ambulance_Total_ClassAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ambulanceTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCase.Continuing_Care_Total_ClassAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContinuingcareTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCase.Future_Care_Total_ClassAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FuturecareTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCase.Hospitalization_Total_ClassAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HospitalizationTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentCase.Pharmacare_Total_ClassAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacareTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>parentCasesToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_various_currency_fields</name>
        <label>assign various currency fields</label>
        <locationX>673</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>ambulanceTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_cases.Ambulance_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mspTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_cases.MSP_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContinuingcareTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_cases.Continuing_Care_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FuturecareTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_cases.Future_Care_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HospitalizationTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_cases.Hospitalization_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PharmacareTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Child_cases.Pharmacare_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>parentCasesToUpdate</name>
        <label>parentCasesToUpdate</label>
        <locationX>161</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>parentCasesTobeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_variable_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_variable_values</name>
        <label>Reset variable values</label>
        <locationX>299</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>ambulanceTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mspTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContinuingcareTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FuturecareTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HospitalizationTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PharmacareTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Grandparent_cases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Child</name>
        <label>Is Child?</label>
        <locationX>777</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Child_cases.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Grandparent_cases.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_various_currency_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Child_cases.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Grandparent_cases.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Child_cases</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <interviewLabel>Summary Calculation of related HealthCare Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summary Calculation of related HealthCare Cost</label>
    <loops>
        <name>Loop_through_Child_cases</name>
        <label>Loop through Child cases</label>
        <locationX>513</locationX>
        <locationY>385</locationY>
        <collectionReference>childCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Child</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Parent_Case_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Grandparent_cases</name>
        <label>Loop through Grandparent cases</label>
        <locationX>510</locationX>
        <locationY>204</locationY>
        <collectionReference>grandParentCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Child_cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateParentCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateParentCase</name>
        <label>UpdateParentCase</label>
        <locationX>824</locationX>
        <locationY>200</locationY>
        <inputReference>parentCasesTobeUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_through_Grandparent_cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ambulanceTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>childCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContinuingcareTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FuturecareTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>grandParentCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>HospitalizationTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>mspTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>parentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>parentCasesTobeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PharmacareTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
