TPL/force-app/main/default/flows/Update_Health_Care_Cost_Fields_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Updated_Health_Care_Cost_to_Collection</name>
        <label>Add Updated Health Care Cost to Collection</label>
        <locationX>1208</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>HealthCareCostsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughHealthCareCost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ambulance_Cost</name>
        <label>Ambulance Cost</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Basic_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Health_Care_Cost_fields</name>
        <label>Assign Health Care Cost fields</label>
        <locationX>1760</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Filtered_Record.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TPL_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateTotalCostOverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Filtered_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Health_Care_Cost_fields_No_Override</name>
        <label>Assign Health Care Cost fields No Override</label>
        <locationX>2024</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Filtered_Record.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TPL_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Filtered_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Health_Care_Cost_fields_without_assigned_service</name>
        <label>Assign Health Care Cost fields without assigned service</label>
        <locationX>1888</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Health_Care_Cost_fields_without_Price</name>
        <label>Assign Health Care Cost fields without Price</label>
        <locationX>1056</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigningPHN</name>
        <label>AssigningPHN</label>
        <locationX>1208</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>currentRec.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Account__r.PHN__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Record_Type_and_Total_Cost_Override_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Pricebook_entry</name>
        <label>Count Pricebook entry</label>
        <locationX>1364</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CountPricebookentryRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Pricebook_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Pricebook_entry_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MSP_Cost</name>
        <label>MSP Cost</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Amount_Paid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pharmacare_Cost</name>
        <label>Pharmacare Cost</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Cost_of_Drug__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Pricebook_Entry</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Pricebook Entry</label>
        <locationX>1364</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Pricebook_Entry</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Price_Book_Entry</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Pricebook_Entry.Product2Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopThroughHealthCareCost.Service_Provided_by_Facility__r.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Pricebook_entry</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_for_Pricebook_entry_record</name>
        <label>Check for Pricebook entry record</label>
        <locationX>1364</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Filtered_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountPricebookentryRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Health_Care_Cost_fields_without_Price</targetReference>
            </connector>
            <label>Price not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record_Type_and_Total_Cost_Override_fields</name>
        <label>Check for Record Type and Total Cost Override fields</label>
        <locationX>1208</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ambulance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ambulance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Total_Cost_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ambulance_Cost</targetReference>
            </connector>
            <label>Ambulance</label>
        </rules>
        <rules>
            <name>MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Total_Cost_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSP_Cost</targetReference>
            </connector>
            <label>MSP</label>
        </rules>
        <rules>
            <name>Pharmacare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Total_Cost_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pharmacare_Cost</targetReference>
            </connector>
            <label>Pharmacare</label>
        </rules>
        <rules>
            <name>Hospitalization_with_Service_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitalization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Service_Provided_by_Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Pricebook_Entry</targetReference>
            </connector>
            <label>Hospitalization with Service assigned</label>
        </rules>
        <rules>
            <name>Hospital_without_assigned_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitalization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Service_Provided_by_Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Health_Care_Cost_fields_without_assigned_service</targetReference>
            </connector>
            <label>Hospital without assigned Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Total_cost_Override_has_Value</name>
        <label>Check if Total cost Override has Value</label>
        <locationX>1892</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_Health_Care_Cost_fields_No_Override</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Cost_override_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Total_Cost_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Health_Care_Cost_fields</targetReference>
            </connector>
            <label>Total Cost override is blank</label>
        </rules>
    </decisions>
    <description>This is the subflow which would handle the On Create event on Health Care Cost Object.
Update to PHN Value reference</description>
    <environments>Default</environments>
    <formulas>
        <name>updateTotalCostOverride</name>
        <dataType>Number</dataType>
        <expression>{!currentItem_Filter_Pricebook_Entry.UnitPrice}*{!LoopThroughHealthCareCost.Number_of_Days__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Health Care Cost Fields On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Health Care Cost Fields On Create</label>
    <loops>
        <name>Loop_through_Filtered_Record</name>
        <label>Loop through Filtered Record</label>
        <locationX>1672</locationX>
        <locationY>998</locationY>
        <collectionReference>Filter_Pricebook_Entry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Total_cost_Override_has_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughHealthCareCost</name>
        <label>LoopThroughHealthCareCost</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>updatedHealthCareCost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssigningPHN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Health_Care_Cost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughHealthCareCost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TPL_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TPL_Pricebook</name>
        <label>Get TPL Pricebook</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TPL Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Health_Care_Cost</name>
        <label>Update Health Care Cost</label>
        <locationX>176</locationX>
        <locationY>1850</locationY>
        <inputReference>HealthCareCostsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TPL_Pricebook</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountPricebookentryRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Pricebook_Entry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>HealthCareCostsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>updatedHealthCareCost</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
</Flow>
