TPL/force-app/main/default/flows/Update_Health_Care_Cost_Fields_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Updated_Health_Care_Cost_to_Collection</name>
        <label>Add Updated Health Care Cost to Collection</label>
        <locationX>1760</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>HealthCareCostsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughHealthCareCost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ambulance_Cost</name>
        <label>Ambulance Cost</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Basic_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Health_Care_Cost_fields</name>
        <label>Assign Health Care Cost fields</label>
        <locationX>4092</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PriceBookEntries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_updated_HealthCareCosts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TPL_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateTotalCostOverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PriceBookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Health_Care_Cost_fields_No_Override</name>
        <label>Assign Health Care Cost fields No Override</label>
        <locationX>4356</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PriceBookEntries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_updated_HealthCareCosts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TPL_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PriceBookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigningPHN</name>
        <label>AssigningPHN</label>
        <locationX>1760</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>currentRec.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Account__r.PHN__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Record_Type_and_Total_Cost_Override_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MSP_Cost</name>
        <label>MSP Cost</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Amount_Paid__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pharmacare_Cost</name>
        <label>Pharmacare Cost</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Cost_of_Drug__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Record_Type_and_Total_Cost_Override_fields</name>
        <label>Check for Record Type and Total Cost Override fields</label>
        <locationX>1760</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ambulance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ambulance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Total_Cost_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ambulance_Cost</targetReference>
            </connector>
            <label>Ambulance</label>
        </rules>
        <rules>
            <name>MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Total_Cost_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSP_Cost</targetReference>
            </connector>
            <label>MSP</label>
        </rules>
        <rules>
            <name>Pharmacare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.Total_Cost_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pharmacare_Cost</targetReference>
            </connector>
            <label>Pharmacare</label>
        </rules>
        <rules>
            <name>Hospitilization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughHealthCareCost.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitalization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TPL_Pricebook</targetReference>
            </connector>
            <label>Hospitalization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_PriceBookEntry_product_matches_Health_Care_Cost_Product</name>
        <label>Check if PriceBookEntry product matches Health Care Cost Product</label>
        <locationX>4510</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_PriceBookEntries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_PriceBookEntries.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_updated_HealthCareCosts.Service_Provided_by_Facility__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Total_cost_Override_has_Value</targetReference>
            </connector>
            <label>Product Match</label>
        </rules>
        <rules>
            <name>No_Product_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_PriceBookEntries.Product2.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>loop_updated_HealthCareCosts.Service_Provided_by_Facility__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PriceBookEntries</targetReference>
            </connector>
            <label>No Product Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Total_cost_Override_has_Value</name>
        <label>Check if Total cost Override has Value</label>
        <locationX>4224</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Assign_Health_Care_Cost_fields_No_Override</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Cost_override_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_updated_HealthCareCosts.Total_Cost_Override__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Health_Care_Cost_fields</targetReference>
            </connector>
            <label>Total Cost override is blank</label>
        </rules>
    </decisions>
    <description>This is the subflow which would handle the On Create event on Health Care Cost Object.
Update to PHN Value reference</description>
    <environments>Default</environments>
    <formulas>
        <name>updateTotalCostOverride</name>
        <dataType>Number</dataType>
        <expression>{!Loop_PriceBookEntries.UnitPrice}*{!loop_updated_HealthCareCosts.Number_of_Days__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Health Care Cost Fields On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Health Care Cost Fields On Create</label>
    <loops>
        <name>Loop_PriceBookEntries</name>
        <label>Loop PriceBookEntries</label>
        <locationX>4004</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Price_Book_Entry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_PriceBookEntry_product_matches_Health_Care_Cost_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_updated_HealthCareCosts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_updated_HealthCareCosts</name>
        <label>loop updated HealthCareCosts</label>
        <locationX>2992</locationX>
        <locationY>758</locationY>
        <collectionReference>updatedHealthCareCost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_PriceBookEntries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughHealthCareCost</name>
        <label>LoopThroughHealthCareCost</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>updatedHealthCareCost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssigningPHN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Health_Care_Cost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>2992</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_updated_HealthCareCosts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TPL_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TPL_Pricebook</name>
        <label>Get TPL Pricebook</label>
        <locationX>2992</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TPL Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Health_Care_Cost</name>
        <label>Update Health Care Cost</label>
        <locationX>176</locationX>
        <locationY>2054</locationY>
        <inputReference>HealthCareCostsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopThroughHealthCareCost</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>HealthCareCostsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>updatedHealthCareCost</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
</Flow>
