TPL/force-app/main/default/flows/Update_Health_Care_Cost_Fields_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Updated_Health_Care_Cost_to_Collection</name>
        <label>Add Updated Health Care Cost to Collection</label>
        <locationX>592</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>HealthCareCostsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PriceBookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCollectionHCC</name>
        <label>AddToCollectionHCC</label>
        <locationX>732</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>HCCCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentHealthCareCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughHealthCareCost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Health_Care_Cost_fields</name>
        <label>Assign Health Care Cost fields</label>
        <locationX>782</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>currentRec.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PriceBookEntries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_updated_HealthCareCosts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TPL_Pricebook.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRec.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updateTotalCostOverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Health_Care_Cost_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigningPHN</name>
        <label>AssigningPHN</label>
        <locationX>960</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>CurrentHealthCareCost.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Case__r.Contact.Account.PHN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentHealthCareCost.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughHealthCareCost.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollectionHCC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_PriceBookEntry_product_matches_Health_Care_Cost_Product</name>
        <label>Check if PriceBookEntry product matches Health Care Cost Product</label>
        <locationX>826</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_PriceBookEntries.Product2.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_updated_HealthCareCosts.Service_Provided_by_Facility__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Health_Care_Cost_fields</targetReference>
            </connector>
            <label>Product Match</label>
        </rules>
        <rules>
            <name>No_Product_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_PriceBookEntries.Product2.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>loop_updated_HealthCareCosts.Service_Provided_by_Facility__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PriceBookEntries</targetReference>
            </connector>
            <label>No Product Match</label>
        </rules>
    </decisions>
    <description>This is the subflow which would handle the On Create event on Health Care Cost Object.</description>
    <formulas>
        <name>updateTotalCostOverride</name>
        <dataType>Number</dataType>
        <expression>{!Loop_PriceBookEntries.UnitPrice}*{!loop_updated_HealthCareCosts.Number_of_Days__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Health Care Cost Fields On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Health Care Cost Fields On Create</label>
    <loops>
        <name>Loop_PriceBookEntries</name>
        <label>Loop PriceBookEntries</label>
        <locationX>590</locationX>
        <locationY>357</locationY>
        <collectionReference>Get_Price_Book_Entry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_PriceBookEntry_product_matches_Health_Care_Cost_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_updated_HealthCareCosts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_updated_HealthCareCosts</name>
        <label>loop updated HealthCareCosts</label>
        <locationX>411</locationX>
        <locationY>362</locationY>
        <collectionReference>updatedHealthCareCost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_PriceBookEntries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Health_Care_Cost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughHealthCareCost</name>
        <label>LoopThroughHealthCareCost</label>
        <locationX>593</locationX>
        <locationY>146</locationY>
        <collectionReference>updatedHealthCareCost</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssigningPHN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>230</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_updated_HealthCareCosts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TPL_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TPL_Pricebook</name>
        <label>Get TPL Pricebook</label>
        <locationX>242</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TPL Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Health_Care_Cost</name>
        <label>Update Health Care Cost</label>
        <locationX>414</locationX>
        <locationY>564</locationY>
        <inputReference>HealthCareCostsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCollection</name>
        <label>updateCollection</label>
        <locationX>421</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Get_TPL_Pricebook</targetReference>
        </connector>
        <inputReference>HCCCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>457</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>LoopThroughHealthCareCost</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentHealthCareCost</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>currentRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>HCCCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>HealthCareCostsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>updatedHealthCareCost</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
</Flow>
