TPL/force-app/main/default/flows/Update_Account_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>- Assign status to True</description>
        <name>Assign_Active_Status_upon_Create</name>
        <label>Assign Active Status upon Create</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>- Convert Last Name to Upper Case</description>
        <name>Convert_Last_Name_to_Upper_Case</name>
        <label>Convert Last Name to Upper Case</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangingLastNametoUpperCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting Deactivation date as blank</description>
        <name>Setting_Deactivation_date_as_blank</name>
        <label>Setting Deactivation date as blank</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Deactivation_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting Deactivation date as current date</description>
        <name>Setting_Deactivation_date_as_current_date</name>
        <label>Setting Deactivation date as current date</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Deactivation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Facility_Status</name>
        <label>Check Facility Status</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No change in status</defaultConnectorLabel>
        <rules>
            <name>Facility_is_deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deactivation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setting_Deactivation_date_as_current_date</targetReference>
            </connector>
            <label>Facility is deactivated</label>
        </rules>
        <rules>
            <name>Facility_is_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setting_Deactivation_date_as_blank</targetReference>
            </connector>
            <label>Facility is Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Create_and_Update</name>
        <label>Check for Create and Update</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Status_upon_Create</targetReference>
            </connector>
            <label>Check for Create</label>
        </rules>
        <rules>
            <name>Check_for_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Facility_Status</targetReference>
            </connector>
            <label>Check for Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>754</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Last_Name_to_Upper_Case</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
        <rules>
            <name>Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Create_and_Update</targetReference>
            </connector>
            <label>Facility</label>
        </rules>
    </decisions>
    <formulas>
        <name>ChangingLastNametoUpperCase</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.LastName})</expression>
    </formulas>
    <interviewLabel>Update Account Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Fields</name>
        <label>Update Account Fields</label>
        <locationX>754</locationX>
        <locationY>1007</locationY>
        <inputReference>currentRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
