TPL/force-app/main/default/flows/Update_Healthcare_Cost_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Populates:
-Facility
-Facility Type</description>
        <name>Populate_Facility_Facility_Type</name>
        <label>Populate Facility &amp; Facility Type</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates:
-Facility
-Facility Type</description>
        <name>Populate_Facility_Facility_Type1</name>
        <label>Populate Facility &amp; Facility Type</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Facility_from_Site_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Facility_from_Site_Code.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>PHN
DateId</description>
        <name>Populate_PHN_DateId</name>
        <label>Populate PHN &amp; DateId</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.PHN__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.DateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateidformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>PHN
DateId</description>
        <name>Populate_PHN_DateId_Hospitalization</name>
        <label>Populate PHN &amp; DateId</label>
        <locationX>1139</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.PHN__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Date_of_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_of_Admission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.DateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateidformula_hospital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Service_Provided_by_Facility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates:
-Site Code
-Facility Type</description>
        <name>Populate_Site_Code_Facility_Type</name>
        <label>Populate Site Code &amp; Facility Type</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Site_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates:
-Site Code
-Facility Type</description>
        <name>Populate_Site_Code_Facility_Type1</name>
        <label>Populate Site Code &amp; Facility Type</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Site_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Code_from_Facility.Site_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Facility_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Code_from_Facility.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>PHN
DateId
Total Cost Override</description>
        <name>Populate_Total_Cost_Override_PHN_DateId_Ambulance</name>
        <label>Populate Total Cost Override, PHN &amp; DateId</label>
        <locationX>2030</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.PHN__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.DateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateidformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmbulanceTotalCostOverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Facility_from_Site_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>PHN
DateId
Total Cost Override</description>
        <name>Populate_Total_Cost_Override_PHN_DateId_MSP</name>
        <label>Populate Total Cost Override, PHN &amp; DateId</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.PHN__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.DateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateidformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MspTotalCostOverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Record_Creation_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>PHN
DateId
Total Cost Override</description>
        <name>Populate_Total_Cost_Override_PHN_DateId_Pharmacare</name>
        <label>Populate Total Cost Override, PHN &amp; DateId</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.PHN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.PHN__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PharmacareTotalCostOverride</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.DateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateidformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Total Cost Override
Standard Daily Rate
Pricebook</description>
        <name>Populates_Field_Values_8</name>
        <label>Populates Field Values 8</label>
        <locationX>1260</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Record_Creation_Source1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Total Cost Override
Standard Daily Rate
Pricebook</description>
        <name>Populates_Field_Values_9</name>
        <label>Populates Field Values 9</label>
        <locationX>1700</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Total_Cost_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HospitalizationTotalCostOverride</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Standard_Daily_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pricebook_Entries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Pricebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_TPL_Pricebook_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CCI Level
Intervention Code
Service Type</description>
        <name>Populates_Product_Related_Fields</name>
        <label>Populates Product Related Fields</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.CCI_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Intervention_Code_CCI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Service_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_facility_is_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>CCI Level
Intervention Code
Service Type</description>
        <name>Populates_Product_Related_Fields1</name>
        <label>Populates Product Related Fields</label>
        <locationX>1370</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.CCI_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_for_Hospitalization_Manual_Record.CCI_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Intervention_Code_CCI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_for_Hospitalization_Manual_Record.Intervention_Code_CCI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.Service_Type2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_for_Hospitalization_Manual_Record.Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_facility_is_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>test</name>
        <label>Count Pricebook Entries</label>
        <locationX>1436</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>CountPricebookentryRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Pricebook_entries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Pricebook_entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Pricebook entry count is zero, it means that the TPL price book is not assigned to the product.</description>
        <name>Check_for_Pricebook_entry</name>
        <label>Check for Pricebook entry</label>
        <locationX>1436</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Pricebook_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Price assigned</defaultConnectorLabel>
        <rules>
            <name>No_price_assigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CountPricebookentryRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populates_Field_Values_8</targetReference>
            </connector>
            <label>No price assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record_Creation_Source</name>
        <label>Check for Record Creation Source</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Facility_from_Site_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integration Record</defaultConnectorLabel>
        <rules>
            <name>Manual_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_System_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_facility_is_blank</targetReference>
            </connector>
            <label>Manual Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record_Creation_Source1</name>
        <label>Check for Record Creation Source</label>
        <locationX>1436</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Populate_Facility_from_Site_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integration</defaultConnectorLabel>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_System_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Product_Values</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Record_Type</name>
        <label>Check for Record Type</label>
        <locationX>1535</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Populate_PHN_DateId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continuing Care &amp; Future Care</defaultConnectorLabel>
        <rules>
            <name>MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Total_Cost_Override_PHN_DateId_MSP</targetReference>
            </connector>
            <label>MSP</label>
        </rules>
        <rules>
            <name>Hospitalization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospitalization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_PHN_DateId_Hospitalization</targetReference>
            </connector>
            <label>Hospitalization</label>
        </rules>
        <rules>
            <name>Ambulance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ambulance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Total_Cost_Override_PHN_DateId_Ambulance</targetReference>
            </connector>
            <label>Ambulance</label>
        </rules>
        <rules>
            <name>Pharmacare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Total_Cost_Override_PHN_DateId_Pharmacare</targetReference>
            </connector>
            <label>Pharmacare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Service_Provided_by_Facility</name>
        <label>Check for Service Provided by Facility</label>
        <locationX>1139</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_TPL_Pricebook_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Service selected</defaultConnectorLabel>
        <rules>
            <name>No_service_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Provided_by_Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Populates_Field_Values_8</targetReference>
            </connector>
            <label>No service Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if facility is blank</description>
        <name>Check_if_facility_is_blank</name>
        <label>Populated Facility Code from Facility</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Site_Code_from_Facility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Facility has value</defaultConnectorLabel>
        <rules>
            <name>Facility_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Site_Code_Facility_Type</targetReference>
            </connector>
            <label>Facility is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Values</name>
        <label>Check Product Values</label>
        <locationX>1238</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Get_Product_for_Hospitalization_Manual_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Selected</defaultConnectorLabel>
        <rules>
            <name>No_Product_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Provided_by_Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populates_Product_Related_Fields</targetReference>
            </connector>
            <label>No Product Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if facility Code is blank</description>
        <name>Populate_Facility_from_Site_Code</name>
        <label>Populate Facility from Site Code</label>
        <locationX>2030</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Facility_from_Site_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Facility Code has Value</defaultConnectorLabel>
        <rules>
            <name>Facility_Code_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Facility_Facility_Type</targetReference>
            </connector>
            <label>Facility Code is blank</label>
        </rules>
    </decisions>
    <description>dateidformula seperated for Hospital and other record types</description>
    <environments>Default</environments>
    <formulas>
        <name>AmbulanceTotalCostOverride</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Total_Cost_Override__c}), {!$Record.Basic_Amount__c}, {!$Record.Total_Cost_Override__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>dateidformula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(if(Text({!$Record.Date_of_Service__c})==null,&apos;00000000&apos;,TEXT({!$Record.Date_of_Service__c})), &apos;-&apos;, &apos;&apos; ) &amp; &apos;&apos; &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <description>date ID calculation formula for Hospitalization</description>
        <name>dateidformula_hospital</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(if(Text({!$Record.Date_of_Admission__c})==null,&apos;00000000&apos;,TEXT({!$Record.Date_of_Admission__c})), &apos;-&apos;, &apos;&apos; ) &amp; &apos;&apos; &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>HospitalizationTotalCostOverride</name>
        <dataType>Currency</dataType>
        <expression>IF ( OR ( ISBLANK ( {!$Record.Total_Cost_Override__c} ) , ISBLANK ( {!$Record.Number_of_Days__c}) ), ({!Loop_Pricebook_Entries.UnitPrice} * {!$Record.Number_of_Days__c}) , {!$Record.Total_Cost_Override__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MspTotalCostOverride</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Total_Cost_Override__c}), {!$Record.Amount_Paid__c}, {!$Record.Total_Cost_Override__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PharmacareTotalCostOverride</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Total_Cost_Override__c}), {!$Record.Cost_of_Drug__c}, {!$Record.Total_Cost_Override__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Healthcare Cost Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Healthcare Cost Fields</label>
    <loops>
        <description>Since all record are selected in &quot;Get pricebook Entries&quot; Element. which converts the get record in to collection. And to use the value from the collection, loop is required.</description>
        <name>Loop_Pricebook_Entries</name>
        <label>Loop Pricebook Entries</label>
        <locationX>1612</locationX>
        <locationY>1079</locationY>
        <collectionReference>Get_Pricebook_entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populates_Field_Values_9</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Record_Creation_Source1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Facility_from_Site_Code</name>
        <label>Get Facility from Site Code</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Facility_Facility_Type1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We have to use the count variable in the next step for decision. For using the COUNT operator: &quot;All records&quot; is selected in &quot;How many Record to Store&quot;</description>
        <name>Get_Pricebook_entries</name>
        <label>Get Pricebook entries</label>
        <locationX>1436</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Provided_by_Facility__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_TPL_Pricebook_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_for_Hospitalization_Manual_Record</name>
        <label>Get Product for Hospitalization Manual Record</label>
        <locationX>1370</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populates_Product_Related_Fields1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Provided_by_Facility__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Code_from_Facility</name>
        <label>Get Site Code from Facility</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Site_Code_Facility_Type1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Facility__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TPL_Pricebook_Id</name>
        <label>Get TPL Pricebook Id</label>
        <locationX>1436</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TPL Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_current_Record</name>
        <label>Update current Record</label>
        <locationX>1535</locationX>
        <locationY>2297</locationY>
        <inputReference>currentRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Record_Type</targetReference>
        </connector>
        <filterFormula>{!$Setup.Data_Migration_Check__c.Bypass_Flow_Validations__c} = False</filterFormula>
        <object>Healthcare_Cost__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountPricebookentryRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Healthcare_Cost__c</objectType>
    </variables>
    <variables>
        <name>FacilityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
